header {
  padding: 1.6rem 0;
  background-color: white;
  h1 {
    text-align: center;
    font-size: 2rem;
    line-height: 2rem;
    color: #50a5eb;
  }
}

@media screen and (max-width: 600px) {
  header {
    padding: 1.4rem 0;
    h1 {
      font-size: 1.8rem;
      line-height: 1.8rem;
    }
  }
}
